
a button{
    text-decoration: none;
    color: white;
}
.nav-links li a{
    color: rgb(97, 97, 97);
    background: rgb(195, 255, 117);
    font-weight: bold;
    padding: 5px;
    border-radius: 7px;

}


.pro {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: -5px;

}
.pro progress{
    margin: 5px;

}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo{
    font-weight: 500;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;  
    
}
.nav-links li{
    list-style: none;
    display: inline-block;
}
.nav-links li a{
    margin: 0 15px;
    transition: all .5s ease 0s;
}

.nav-links li a:hover{
    color: red;
}

a button{
    border: none;
    background-color: salmon;
    margin-right: 20px;
    padding: 6px 25px;
    border-radius: 15px;
    font-weight: bold;
    transition: all .5s ease 0s;
    cursor: pointer;
}
a button:hover{
    background-color: rgb(248, 67, 47);
}