*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    
}
.Next{
    outline: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 30px;
    background: rgb(109, 219, 109);
    transition: .3s linear;
    align-items: flex-end;

    
}
.Next:hover{
    background: green;

}
.Back{
    outline: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 30px;
    background: rgb(241, 69, 69);
    transition: .3s linear;
}
.Back:hover{
    background: rgb(204, 34, 34);

}
.button{
    outline: none;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 120px;
    
    background: #f1f4f7;
}
.button:hover{
    background: rgb(146, 142, 142);
}